@import "tailwindcss";

/* BẮT BUỘC: cho dark:* chạy theo class .dark thay vì prefers-color-scheme */
@custom-variant dark (&:where(.dark, .dark *));

/* optional */
html, body, #root { height: 100%; }
